// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../node_modules/@glidejs/glide/src/assets/sass/glide.core";


//our css
@import "layouts/index";
@import "components/index";
@import "pages/index";

