.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 12px;
}

@media (max-width: 980px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 770px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

.filter-picture{
  display: inline-flex;
  list-style: none;
  margin-left: -40px;
  .btn-filt{
    cursor:pointer;
    &.active{
      color:$magenta;
    }
  }

}
