
.dimension-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 8px;
  .dimension{
    background-color: $blue-dark;
    color: white;
    display: inline-block;
    border: 1px solid #e0e0e0;
    line-height: 1em;
    padding: .5em;
    text-align: center;
    font-size: .85em;
    margin-right: 6px;
    min-width: 54px;
    margin-bottom: 6px;
  }
}

.card-carousel{
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  img{
    width: 100%;
    border-radius: 4px 4px 0 0;
    height: 400px;
    object-fit: cover;
  }
}

@media (max-width: 980px) {
  .dimension-list {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
