<% content_for(:navbar_class, "navbar-home") %>

<div class="banner mb-3">
  <div class="hero-title">
    <div class="marquee-rtl">
      <div class="defile">
        INFO MINERAL PISCINE SUPER PROMO jusqu'au 26 Juin, pour l'achat d'une piscine pret-au-bain jusqu'à 3200 euros d'équipements offerts.
      </div>
    </div>
    <h1>MINERAL PISCINE </h1>
    <p>
      <span id="banner-typed-text"></span>
    </p>
    <div class="call-action">
      <%= link_to "OBTENIR UN DEVIS", "contact", class: "btn-secondary-lg m-3" %>
      <%= link_to "NOS MODELES PISCINES", "piscines", class: "btn-primary-lg m-3" %>
    </div>
  </div>
</div>
