<% content_for(:navbar_class, "navbar-home") %>

<div class="banner mb-3">
  <div class="container text-center">
<!--     <p class="promo"> <span>PROMO D'ÉTÉ du 11 au 23 mai</span> <br> Pour l'achat de votre piscine Prête au bain, 3200€ TTC d'accessoires offerts.* <br>
      <span id="aste">*Liste des accessoires en magasin</span>
    </p> -->
    <h1>MINERAL PISCINE </h1>
    <p>
      <span id="banner-typed-text"></span>
    </p>
    <div class="py-5">
      <%= link_to "OBTENIR UN DEVIS", "contact", class: "btn-secondary-lg m-3" %>
      <%= link_to "NOS MODELES PISCINES", "piscines", class: "btn-primary-lg m-3" %>
    </div>
  </div>
</div>
