<% content_for(:navbar_class, "navbar-home") %>

<div class="banner mb-3">
  <div class="container text-center">
<!--     <p class="promo"> <span>PROMO D'ÉTÉ du 11 au 23 mai</span> <br> Pour l'achat de votre piscine Prête au bain, 3200€ TTC d'accessoires offerts.* <br>
      <span id="aste">*Liste des accessoires en magasin</span>
    </p> -->
    <div class="marquee-rtl">
      <div class="defile">
        Madame, Monsieur,
        Alors qu'une nouvelle version du confinement est rentrée en vigueur depuis vendredi 30 Octobre, Minéral Piscine a mis tout en œuvre pour que vous puissiez profiter de votre piscine l'été prochain en famille.
        Nous sommes heureux de vous faire profiter de nos offres exceptionnelles à l'occasion de la 3ème édition de nos journées Portes Ouvertes un peu particulières cette année. Nous ne pourrons malheureusement pas vous accueillir en agence.
      </div>
    </div>
    <p class="mt-3"><% link_to  "assets/images/jp-mineral-piscine.pdf", class:"btn-secondary-lg", target:"blank" do %>
           "Nos journées Portes Ouvertes!"  <i class="fas fa-hand-point-left"></i>
        <% end %>
     </p>
    <h1>MINERAL PISCINE </h1>
    <p>
      <span id="banner-typed-text"></span>
    </p>
    <div class="py-5">
      <%= link_to "OBTENIR UN DEVIS", "contact", class: "btn-secondary-lg m-3" %>
      <%= link_to "NOS MODELES PISCINES", "piscines", class: "btn-primary-lg m-3" %>
    </div>
  </div>
</div>
