<% content_for(:navbar_class, "navbar-home") %>

<div class="banner mb-3">
  <div class="hero-title">
    <div class="marquee-rtl">
      <div class="defile">
        INFO MINERAL PISCINE SOLDES 70% de remise sur les équipements optionnels lors de l'achat de votre piscine pret-au-bain du 30 JUIN au 27 Juillet. ATTENTION ! Dernière promotion avant les fortes hausses de prix de la rentrée.
      </div>
    </div>
    <h1>MINERAL PISCINE </h1>
    <p>
      <span id="banner-typed-text"></span>
    </p>
    <div class="call-action">
      <%= link_to "OBTENIR UN DEVIS", "contact", class: "btn-secondary-lg m-3" %>
      <%= link_to "NOS MODELES PISCINES", "piscines", class: "btn-primary-lg m-3" %>
    </div>
  </div>
</div>
