<div class="broch-block">
  <div class="d-flex justify-content-around flex-md-row flex-column align-items-center">
    <div class="title-broch">
      <h2>RENCONTRER NOS CONSEILLERS POUR UNE ETUDE PERSONALISéE</h2>
    </div>
    <div class="down-broch">
      <% link_to "contact", class:"up-btn" do  %>
        CONTACT | <i class="fas fa-hand-point-left"></i>
      <% end %>
    </div>
  </div>
</div>
