<div class="top-bar-section">
  <div class="mx-3">
    <div class="d-flex justify-content-between flex-md-row flex-column p-2">
      <div class="top-bar-contact d-flex flex-md-row flex-column px-2">
        <div class="d-inline-flex">
          <span><i class="far fa-clock"></i></span> <p class="pr-3">Lun-Sam:10:00-13:00 / 15:00-19:00 </p>
        </div>
        <div class="d-inline-flex">
          <span class="pr-2"><i class="fas fa-phone-alt"></i></span><%= link_to "(+33) 05 56 92 62 06", "tel:0556926206", class: "click-to-call" %>
        </div>
      </div>
      <div class="top-bar-links">
        <a href="#"><i class="fab fa-youtube"></i></a>
        <a href="https://www.instagram.com/douceurpiscine/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/Min%C3%A9ral-Piscine-288118001817687/" target="_blank"><i class="fab fa-facebook"></i></a>
      </div>
    </div>

  </div>

</div>
