// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue:#6ECBEE;
$green-tree:#a4c754;
$grullo: #A39A92;
$davis-gray: #50514f;
$blue-dark: #286090;
$blue-light:#7BDBF1;
$green-light: #b8de62;
$blue-slate: #232F4D;
$magenta: #E40482;
$magenta-light:#FF0290;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$gray-light: #F4F4F4;
$cadet-blue:#51A3A3;
$blue-green: #0088a9;;
$isabelline: #F4F4ED;
