// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue:#6ECBEE;
$green-tree:#A1C765;
$magenta: #E40482;
$blue-dark: #286090;
$blue-light:#03d4ef;
$magenta-light:#FF0290;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$gray-light: #F4F4F4;
$cadet-blue:#51A3A3;
$blue-green: #0088a9;;
