body {
  background-color: $body-bg;
  margin: 0;
  font-family: $headers-font;
  font-size: 14px;
  min-height: 100vh;
  span{
    font-weight:bold;
    color: #232F4D;
  }
  h1, h2, h3 {
    color: #2C3B59;
  }

  h1{
    font-size: 30px;
  }

  h2{
    font-size: 20px;
  }

  h3{
    font-size: 16px;
    font-weight: bold;
  }

  .link {
    color: $magenta;
    font-weight: bold;
    &:hover{
      color: $magenta-light;
      text-decoration: none;
    }
  }

  .ic-inner svg{
    font-size: 20px;
    color:$cadet-blue;
  }
  #wrapper {
    width: 100%;
    min-height: 600px;
    padding: 0 !important;
    background: $body-bg;
    margin-bottom: 250px;
  }
  .hidden{
    display: none;
  }
}

@media (max-width: 770px) {
  body{
    #wrapper{
      margin-bottom: 570px;
    }

  }
}
