// .btn-primary{
//   background-color: $blue;
//   color: white;
//   font-weight: bold;
//   border-radius: 4px;
//   padding: 8px 16px;
//   text-decoration: none;
//   transition: background 0.3s ease;
//   &:hover{
//     background-color: $blue-light;
//     text-decoration: none;
//   }
// }


.btn-primary-lg{
  background-color: $blue;
  border-color: rgb(53, 177, 202);
  border-style: solid;
  border-width: 2px;
  color: white;
  font-weight: 400;
  font-size: 17px;
  line-height: 17px;
  padding: 8px 35px;
  letter-spacing: 2px;
  text-decoration: none;
  transition: background 0.3s ease;
  &:hover{
    background-color: $blue-light;
    border-color: $blue-light;
    text-decoration: none;
    color:white;
  }
}


.btn-secondary-lg {
  background-color: $magenta;
  border-color: $magenta;
  border-style: solid;
  border-width: 2px;
  color: white;
  font-weight: 400;
  font-size: 17px;
  line-height: 17px;
  padding: 8px 35px;
  letter-spacing: 2px;
  text-decoration: none;
  transition: background 0.3s ease;
  &:hover{
    background-color: $magenta-light;
    border-color: #F20088;
    text-decoration: none;
    color:white;
  }
}

