$navbar-hover-color: $cadet-blue;
$navbar-color: tomato;


.navbar-aerial{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  background: $navbar-color;
  padding: 10px 7%;
  position: fixed;
  z-index:3;
  width: 100%;
  .menu-icon {
    display: none;
  }
  nav{
    font-size: 16px;
    font-weight: 500;
    ul {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      margin: 0;
      li {
        padding-left: 18px;
      }
      a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        transition: all 0.3s ease 0s;
        &:hover {
          color: $navbar-hover-color;
        }
      }
    }
  }
}


@media (max-width: 800px) {
  .navbar-aerial{
    display: block;
    padding: 0;
    .logo {
      img{
        margin: 1.2em;
      }
    }
    .menu-icon {
      display: block;
      cursor:pointer;
      float: right;
      margin: 32px;
/*       .bars {
        background: #fff;
        display: inline-block;
        height: 2px;
        position: relative;
        transition: background .2s ease-out;
        width: 2em;
        &:before, &:after{
          background: #fff;
          content: '';
          display: block;
          height: 100%;
          position: absolute;
          transition: all .2s ease-out;
          width: 100%;
        }
        &:before {
          top: 5px;
        }
        &:after {
          top: -5px;
        }
      } */
    }
    nav{
        display: none;
        justify-content: center;
      ul {
        flex-direction: column;
        text-align: center;
        transition: max-height 400ms ease-in-out;
        li {
          padding-bottom: 1em;
        }
      }
      .menu {
          display: flex;
      }
    }
  }
}




