---
title: Nos Piscines coques polyester en gironde  | Minéral piscine
description: Vous trouverez un large choix de piscines coques polyester que nous avons installées à Bordeaux et en Gironde.
---
<div class="header-page d-flex justify-content-between align-items-center flex-md-row flex-column text-center px-5">
  <div>
    <h1>Nos modéles de piscines  </h1>
    <p>Votre spécialiste de la piscine coque polyester</p>
  </div>
 <div> <%= link_to "Etude personnalisée", "contact", class: "btn btn-info"  %> </div>
</div>

<%= partial "piscines/galery" %>


