<div class="text-center my-5 py-5">
  <h1 class="display-3">Merci!</h1>
    <i class="checkmark" style="color: #9ABC66;font-size: 100px;line-height: 150px;">✓</i>
  <p class="lead"><strong>Nous avons bien reçu votre demande,
      <br/>nous vous contacterons dans les meilleurs délais !</strong>
  </p>

  <p class="lead pb-5">
    <%= link_to "retour à l'accueil","index", class: "btn btn-primary"  %>
  </p>
</div>
